<!-- <div class="card">
  <div class="card-body">
    <form [formGroup]="formDocument" (ngSubmit)="procesar()">
      <div class="mb-2">
        <label class="form-label">URE</label>
        <input type="number" formControlName = "ure" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Denomina</label>
        <input type="text" formControlName = "denomina"  class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Anio</label>
        <input type="number" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Secuencia</label>
        <input type="number" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Clasifica</label>
        <input type="number" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Fecha</label>
        <input type="date" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Tipo</label>
        <input type="number" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Valor</label>
        <input type="number" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Tramite</label>
        <input type="number" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Concentrado</label>
        <input type="number" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Ubica</label>
        <input type="text" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Archivo</label>
        <input type="text" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Status</label>
        <input type="number" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Descripcion</label>
        <input type="text" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Hojas</label>
        <input type="number" class="form-control">
      </div>

      <div class="mb-2">
        <label class="form-label">Observa Valores</label>
        <input type="text" class="form-control">
      </div>

      <button class="btn btn-primary">
        Enviar
      </button>
    </form>
  </div>
</div>

{{ ure.value }}
 -->

@if (pokemonResults$ | async; as resultObject) {
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">URE</th>
      <th scope="col">Denomina</th>
      <th scope="col">Año</th>
      <th scope="col">Secuencia</th>
      <th scope="col">Clasifica</th>
      <th scope="col">Fecha</th>
      <th scope="col">Tipo</th>
      <th scope="col">Valor</th>
      <th scope="col">Tramite</th>
      <th scope="col">Concentrado</th>
      <th scope="col">Ubica</th>
      <th scope="col">Archivo</th>
      <th scope="col">Status</th>
      <th scope="col">Descripción</th>
      <th scope="col">Hojas</th>
      <th scope="col">Observaciones</th>
    </tr>
  </thead>
  <tbody>
    @for (item of resultObject.documents; track $index) {
    <tr>
      <th scope="row"> {{ item.id }} </th>
      <td> {{item.ure}} </td>
      <td> {{item.denomina}} </td>
      <td> {{item.anio}} </td>
      <td> {{item.secuencia}} </td>
      <td> {{item.clasifica}} </td>
      <td> {{item.fecha}} </td>
      <td> {{item.tipo}} </td>
      <td> {{item.valor}} </td>
      <td> {{item.tramite}} </td>
      <td> {{item.concentrado}} </td>
      <td> {{item.ubica}} </td>
      <td> {{item.archivo}} </td>
      <td> {{item.status}} </td>
      <td> {{item.descripcion}} </td>
      <td> {{item.hojas}} </td>
      <td> {{item.observaValores}} </td>
    </tr>
    }
  </tbody>
</table>
}

<!-- @if (results$ | async; as resultObject) {
<ul>
  @for (item of resultObject.results; track $index) {
  <li>
    <p>{{ item.name }}</p>
  </li>
  }
</ul>
} -->
